/* all pages */
body {
    font-family: "Lato","Fira Sans","Helvetica","Arial"
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Century Gothic","Futura","Helvetica","Arial"
}
.headerLogo {
    width: 100%;
    height: 200px;
    background-color: #78B0E1;
    padding: 30px 70px;
}
/* front page */

/* admin pages */
.editingArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.editingArea .postForm {
    flex-grow: 1;
    padding-right: 3em;
}
.editingArea .preview {
    margin-left: -2em;
    flex-grow: 1;
    min-width: 20em;
}
.postForm input[name=title] {
    width: 100%;
}
.postForm input[name=codename] {
    width: 100%;
}
.postForm textarea {
    width: 100%;
    min-height: 25em;
}
.postForm .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#saveBtn {
    background-color: rgb(0,0,255,0.2);
}
#publishBtn {
    background-color: rgb(0,255,0,0.2);
}
#deleteBtn {
    background-color: rgb(255,0,0,0.2);
}
#clearBtn {
    background-color: rgb(0,0,0,0.2);
}
.postResult {
    padding: 0.3em;
    background-color: rgb(0,200,0,0.2);
    margin-bottom: 1em;
}
.preview iframe {
    width: 100%;
    min-height: 30em;
    height: 100%;
}
.postList {
    margin-top: 2em;
}
.postList ul {
    margin-left: 0px;
    column-count: 2;
}
.postList ul li {
    list-style-type: none;
}