/* all pages */
body {
    font-family: "Lato","Fira Sans","Helvetica","Arial";
    background: rgb(175,207,236);
    background: linear-gradient(0deg, rgba(175,207,236,1) 0%, rgba(120,176,225,1) 100%);     
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Century Gothic","Futura","Helvetica","Arial"
}
.mainContainer {
    max-width: 960;
    padding-top: 0;
}
.headerLogo {
    width: 100%;
    padding: 50px 30%;
    margin-bottom: 1em;
}
@media only screen and (max-width: 600px) {
    .headerLogo {
        padding: 10px 20px;
        margin-bottom: 0;
    }
}
.headerLogo h1 {
    display: block;
    width: 100%;
    margin-bottom: 0;
}
.headerLogo h1 a {
    display: block;
    padding-top: 10%;
    background-image: url('../images/logos/svg/knockout2.svg');
    background-repeat: no-repeat;
    background-position-x: center;
}
@media only screen and (max-width: 600px) {
    .headerLogo h1 a {
        padding-top: 0;
    }
}
.headerLogo h1 a span {
    visibility: hidden;
}
footer {
    text-align: center;
    min-height: 100px;
    padding: 2em;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
footer a {
}
.flexyColumn {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 3em;
}
@media only screen and (min-width: 1000px) {
    .flexyColumn {
        width: 40em;
    }
}
@media only screen and (max-width: 600px) {
    .flexyColumn {
        padding: 1em 2em;
    }
}
@media only screen and (max-width: 800px) {
    .flexyColumn {
        max-width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .flexyColumn {
        max-width: 90%;
    }
}
@media only screen and (max-width: 500px) {
    .flexyColumn {
        max-width: 100%;
    }
}
/* front page */
.frontPageHeader {
    min-height: 50vh;
    /* this fixes a safari render bug */
    border-bottom: 1px solid white;
}
.frontPageHeader h1 {
    padding-top: calc(20vh);
    padding-left: 10%;
    padding-right: 10%;
}
.frontPageHeader h1 a {
    display: block;
    height: 10vh;
    background-image: url('../images/logos/svg/knockout2.svg');
    background-repeat: no-repeat;
    background-position-x: center;
}
.frontPageHeader h1 a span {
    margin-left: -9999px;
}
.frontPage .content {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.frontPage .content>div {
    padding: 1em;
}
.frontPage .introduction {
    flex-basis: 33%;
    max-width: 20em;
}
.frontPage .recentPosts {
    flex-basis: 66%;
    max-width: 40em;
}
@media only screen and (max-width: 600px) {
    .frontPage .introduction {
        flex-basis: 100%;
    }
    .frontPage .recentPosts {
        flex-basis: 100%;
    }
}
.frontPage .finial svg {
    margin-top: 1em;
    height: 100px;
    width: 100%;
}
.frontPage .finalWord {
    text-align: center;    
}
/* laurie is too lazy to type */
.hiddenLogin a {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #64b5e3;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.2;
}
/* any individual post, on home or post page */
.singlePost {
    background-color: #fff;
    border-radius: 2px;
}
.singlePost .postDate {
    text-align: right;
    font-size: 80%;
    opacity: 0.8;
}
.singlePost h1 a {
    text-decoration: none;
    color: black;
}
.singlePost h1 a:hover {
    text-decoration: underline;
    position: relative;
}
.singlePost h1 a:hover::before {
    content: '#';
    display: block;
    position: absolute;
    left: -1em;
    top: 0.5em;
    font-size: 60%;
    color: #888;
}
/* used to neatly end many pages */
.postEnd {
    text-align: center;
}
.postEnd .alpaca {
    margin-top: 2em;
    height: 100px;
    margin-bottom: 2em;
}
/* archive page */
.archivePage {
    margin: 5%;
    padding: 5%;
    background-color: #fff;
}
.archivePage .archiveYears ul {
    column-count: 3;
}
/* about me page */
.aboutPage {
    background-color: #fff;
}
.aboutPage .selfie {
    display: inline-box;
    float: right;
    width: 50%;
    margin-left: 1em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    overflow: hidden;
}
/* colophon */
.colophon {
    background-color: #fff;
    border-radius: 2px;
}
/* admin pages */
.editingArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.editingArea .postForm {
    flex-grow: 1;
    padding-left: 2em;
    padding-right: 2em;
}
.editingArea .preview {
    margin-left: -2em;
    flex-grow: 1;
    min-width: 20em;
}
.postForm input[name=title] {
    width: 100%;
}
.postForm input[name=codename] {
    width: 100%;
}
.postForm textarea {
    width: 100%;
    min-height: 25em;
}
.postForm .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#saveBtn {
    background-color: rgb(0,0,255,0.2);
}
#publishBtn {
    background-color: rgb(0,255,0,0.2);
}
#deleteBtn {
    background-color: rgb(255,0,0,0.2);
}
#clearBtn {
    background-color: rgb(0,0,0,0.2);
}
.postResult {
    padding: 0.3em;
    background-color: rgb(0,200,0,0.2);
    margin-bottom: 1em;
}
.preview iframe {
    width: 100%;
    min-height: 30em;
    height: 100%;
}
.postList {
    padding: 2em;
}
.postList ul {
    margin-left: 0px;
    column-count: 2;
}
.postList ul li {
    list-style-type: none;
}
.searchPosts {
    text-align: center;
}