.editingArea {
    display: flex;
    flex-direction: row;
}
.editingArea .postForm {
    flex-grow: 1;
    padding-right: 3em;
}
.editingArea .preview {
    margin-left: -2em;
    flex-grow: 1;
}
.postForm input[name=title] {
    width: 100%;
}
.postForm input[name=codename] {
    width: 100%;
}
.postForm textarea {
    width: 100%;
    min-height: 25em;
}
.postForm .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.postForm .controls button {
}
.preview iframe {
    width: 100%;
    min-height: 30em;
    height: 100%;
}